body{
    background-color: blanchedalmond;
}

header{
    text-align: center;
    text-transform: uppercase;
}

img{
    height: 150px;
    width: 200px;
}


.DefYerba{
    font-style: italic;
}

.YerbaMate li{
    float: left;
    padding: 15px;
}